.controller {
    padding-top: 0.5em;
}

button {
    display: inline-flex;
    background-color: transparent;
    font-size: 3em;
    border-width: 0;
    transform: translateY(-0.8em);
    color: lightslategray;
}

button:hover {
    color: aliceblue;
}

.centerButton {
    margin-top: 0.5em;
    font-size: 4em;
    margin-left: 1em;
    margin-right: 1em;
    transform: translateY(-0.5em);
}